services:
  frontend:
    image: dev_${API_NAME}
    container_name: frontend
    build:
      context: .
      args:
        NODE_VERSION: ${NODE_VERSION}
        APP_ENV: development
    # NOTE: this does not override application .env vars
    environment:
      TZ: ${TZ}
    ports:
      - 3000:3000
    healthcheck:
      test: wget --no-verbose --no-check-certificate --tries=1 --spider http://frontend:3000 || exit 1
      interval: 5s
      timeout: 10s
      retries: 5
    restart: on-failure
    volumes:
      - ./.nginx.local/nginx.local.conf:/etc/nginx/conf.d/default.conf