@font-face {
    font-family: noteFont;
    src: url("../../fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: roundFont;
    src: url("../../fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: codefont;
    src: url("../../fonts/Inconsolata_Expanded-Light.ttf");
}