$mobileMaxWidth: 575px;
$tabletMinWidth: 576px;
$tabletMaxWidth: 991px;
$desktopMinWidth: 992px;

:root {
    --accentColor: orange;
    --accentColor2: #6993f3;
    --codeBorderRadius: 20px;
    --plainTextNoteInputColor: white;
    --codeNoteInputColor: rgb(45, 178, 255);
    --codeNoteInputWithVariablesColor: turquoise;
    --borderRadius: 3px;
    --tagBorderRadius: 1px;
    --codeGrey: rgb(212, 212, 212);
    --codeGreyLight: rgb(231, 231, 231);
    --matteBlack: #1d1e1f;
    --matteBlackLight: #292929;
    --matteBlackLighter: #020202;
    --matteBlue: rgb(21, 1, 70);
    --matteBlueLight: rgb(31, 4, 94);

    // TODO: idea for new colors
    // --matteBlack: rgb(21, 1, 70);
    // --matteBlackLight: rgb(21, 1, 70);
    // --matteBlackLighter: rgb(31, 4, 94);

    // --matteBlue: #1d1e1f;
    // --matteBlue: #fff;
    // --matteBlueLight: #292929;

    --overlayZIndex: 10;
    --saveColor: rgb(0, 255, 0, 1);
    --toastZindex: calc(var(--overlayZIndex) + 1);
    --testBorder: 1px solid black;
    --transitionTime: 0.2s;
    --transitionTimeFast: 0.1s;

    // input specific
    /** The max height of a note input when collapsed */
    --noteInputMaxHeight: 20vh;
    // distance from left border to input start, vscode displays it like that, can't change it
    --codeNoteInputPaddingLeft: 26px;

    --mobileMaxWidth: #{$mobileMaxWidth};
    --tabletMinWidth: #{$tabletMinWidth};
    --tabletMaxWidth: #{$tabletMaxWidth};
    --desktopMinWidth: #{$desktopMinWidth};
}