:root {
    --accentColor: orange;
    --accentColor2: #6993f3;
    --codeBorderRadius: 10px;
    --borderRadius: 3px;
    --codeGrey: rgb(212, 212, 212);
    --matBlue: rgb(21, 1, 70);
    --matBlueLight: rgb(31, 4, 94);
    --matBlack: rgb(49, 49, 49);
    --testBorder: 1px solid black;
    --transitionTime: 0.2s;
    --transitionTimeFast: 0.1s;
}