:root {
    --accentColor: orange;
    --borderRadius: 10px;
    --codeFont: var(--bs-font-monospace);
    --matBlack: rgb(49, 49, 49);
    --testBorder: 1px solid black;
    --transitionTime: 0.2s;
}