:root {
    --accentColor: orange;
    --accentColor2: #6993f3;
    --codeBorderRadius: 20px;
    --plainTextNoteInputColor: white;
    --codeNoteInputColor: rgb(172, 0, 172);
    --codeNoteInputWithVariablesColor: turquoise;
    --borderRadius: 3px;
    --tagBorderRadius: 1px;
    --codeGrey: rgb(212, 212, 212);
    --codeGreyLight: rgb(231, 231, 231);
    --matBlue: rgb(21, 1, 70);
    --matBlueLight: rgb(31, 4, 94);
    --overlayZIndex: 10;
    --testBorder: 1px solid black;
    --transitionTime: 0.2s;
    --transitionTimeFast: 0.1s;
    --vsCodeBlack: #1d1e1f;
    --vsCodeBlackLight: #3a3a3a;
}