@use "@styles/global/functions.scss" as *;

.AddNewNoteInputButtons {
    .Button {
        background-color: var(--matteBlackLighter);
        border-radius: var(--codeBorderRadius);
        
        &.addPlainTextNoteInputButton {
            color: var(--plainTextNoteInputColor);
        }

        &.addCodeNoteInputButton {
            color: var(--codeNoteInputColor);
            
            .vsStudioIcon {
                vertical-align: sub;
            }
        }
        
        &.addCodeNoteInputWithVariablesButton {
            color: var(--codeNoteInputWithVariablesColor);
        }
    }
    
    .fa-plus {
        border-radius: 100%;
        padding: 5px;
    }

    .curlyBraces {
        font-weight: bold;
        line-height: 1;
        margin-left: 1px;
    }
}