@use "@styles/global/functions.scss" as *;

.Button {
    background-color: transparent;
    border: none;
    border-radius: var(--borderRadius);
    padding: 10px 15px;

    .buttonContentContainer {
        min-height: 24px; // the height of the rotating circle icon
    }

    @include cursorHover();
    @include buttonFocus();
}