.ButtonWithSlideLabel {
    font-size: 1em;

    &-labelContainer {
        line-height: 1;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-wrap: nowrap;
        display: none;
        
        &-label {
            margin-left: 15px;
        }
    }
}