@use "@styles/global/functions.scss" as *;


:root {
    --variableInputFontFamily: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --variableInputFontSize: 1rem;
    --variableInputPaddingLeftRight: 0px;
    --variableInputBorderWidth: 2px;
}

.CodeNoteInputWithVariables {
    border-bottom-left-radius: 0;
    color: white;

    &-buttonContainer {
        &-appendVariableButton {
            margin-right: .85em !important;
        }
    }
    
    .inputContainer {
        border-left: var(--noteInputDefaultBorder) var(--codeNoteInputWithVariablesColor);
        border-right: var(--noteInputDefaultBorder) var(--codeNoteInputWithVariablesColor);

        .TextareaDiv {
            &-div {
                .variableInput {
                    background-color: var(--codeGreyLight);
                    border: var(--variableInputBorderWidth) solid transparent;
                    border-radius: var(--borderRadius);
                    font-family: var(--variableInputFontFamily);
                    font-size: var(--variableInputFontSize);
                    line-height: 1em;
                    margin: 0 2px;
                    min-width: 50px;
                    padding: 0px var(--variableInputPaddingLeftRight);

                    &:focus {
                        border-color: var(--accentColor);
                        outline: none;
                    }
                    
                    &:not(:focus) {
                        @include hover();
                    }
                }
            }
        }
    }
}