@use "@styles/global/functions.scss" as *;

:root {
    --noteInputPaddingX: 4px;
    --noteInputDefaultBorder: 2px solid;
}

.DefaultNoteInput {
    position: relative;
    transition: opacity var(--transitionTime);
    
    &-dragged {
        opacity: .5;
    }

    &-dragArea {
        border-top-left-radius: var(--borderRadius);
        border-bottom-left-radius: var(--borderRadius);
        transition: background-color var(--transitionTime);
        @include customHover {
            background-color: var(--matteBlackLighter);
            cursor: grab;
        }

        &-dragIcon {
            padding-top: 2px;
        }
    }
    
    &:has(.CodeNoteInputWithVariables) {
        .DefaultNoteInput-dragArea-dragIcon {
            color: var(--codeNoteInputWithVariablesColor);
        }
    }
    
    &:has(.CodeNoteInput) {
        .DefaultNoteInput-dragArea-dragIcon {
            color: var(--codeNoteInputColor);
        }
    }

    &:has(.PlainTextNoteInput) {
        .DefaultNoteInput-dragArea-dragIcon {
            color: var(--plainTextNoteInputColor);
        }
    }

    &-dropZoneHr {
        background-color: transparent;
        border-radius: var(--borderRadius);
        height: .3em;
        margin: 3px 0;
        transition: background-color var(--transitionTime);
        width: 100%;

        hr {
            z-index: -1; // hide actual hr element
        }

        &-active {
            background-color: rgb(0, 110, 255) !important;
        }
    }

    &-content {
        border-radius: var(--borderRadius);

        .defaultNoteInputButton {
            background-color: var(--matteBlack);
            color: var(--codeGrey);
            margin: .3em .7rem 0;
            margin: 0 .7rem;
            padding: 0 .2em;
            transition: var(--transitionTime);

            @include customHover {
                color: white;
            }
        }

        .deleteNoteInputButton {
            height: unset;
        }

        .copyButton {
            .buttonContentContainer {
                min-width: 15px;
                
                .fa-copy {
                    position: absolute;
                }
            }
        }

        .CodeNoteInputWithVariables, .PlainTextNoteInput {
            background-color: var(--matteBlack);
            border-radius: var(--borderRadius);
            border-bottom-right-radius: 0;

            &.fullScreen {
                border-radius: var(--borderRadius); // for full screen mode
                padding: 15px;
            }

            &:not(.fullScreen) {
                .TextareaDiv {
                    &-div, &-textarea {
                        transition: background-color var(--transitionTime);
                    }
                    
                    &-div {
                        @include customHover {
                            &:not(:focus) {
                                background-color: var(--matteBlackLight);
                            }
                        }
                    }
        
                    &-textarea {
                        @include customFocus {
                            background-color: var(--matteBlackLighter);
                        }
                    }
                }
            }

            .inputContainer {
                color: white;
                display: block;
                height: 100%;
                max-height: var(--noteInputMaxHeight);
                overflow: hidden;
                padding-left: var(--codeNoteInputPaddingLeft);
                width: 100%;
        
                .TextareaDiv {            
                    $lineHeight: 1.6em;
        
                    color: white;
                    height: inherit;
                    margin: 0;
        
                    &-textarea {
                        background-color: transparent;
                        border: none;
                        color: white;
                        line-height: $lineHeight;
                        outline: none;
                        padding: 0;
        
                        @include scrollBar();
                    }
                    
                    &-div {
                        line-height: $lineHeight;
                        margin: 0;
                        overflow: auto;
                        white-space: pre-wrap;
        
                        @include scrollBar();
        
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    pre {
        position: relative;
    }
}