.Hr {
    background-color: inherit;
    position: relative;
    
    hr {
        min-height: 1px;
        width: 100%;
    }

    &-textContainer {
        background-color: inherit;
        position: absolute;
    }
}