@use "../styles/global/functions.scss" as *;


.NavBarProfileSection {
    $buttonBorderWidth: 1px;

    &-logoutButton {
        border: $buttonBorderWidth solid transparent;
        color: white;
    }

    &-registerLink {
        @include customHover {
            .NavBarProfileSection-registerLink-button {
                color: black !important;
            }
        }

        &-button {
            background-color: transparent;
            border: $buttonBorderWidth solid white;
            border-radius: 5px;
            color: white;
        }
    }
}