.NoteInputSettings {
    // pseudo hidden to use fake "toggle slide". dont change "display" here because of <Flex>
    .languageSearchBar {
        opacity: 0;
        padding: 2px;
        position: absolute;
        width: 0;
        z-index: -1;

        .searchInput {
            color: white;
        }

        .clearSearchValueButton {
            display: none;
        }
    }

    .toggleLanguageSearchBarButton {
        background-color: transparent;
        padding: 0;
    }
}