:root {
    --noteInputSwitchWidth: 136px;
}

.NoteInputSettings {
    .NoteInputSwitch {
        // pseudo hidden to use fake "toggle slide". dont change "display" here because of <Flex>
        opacity: 0;
        width: 0;
        z-index: -1;

        .RadioButton {
            position: absolute;
        }
    }

    // pseudo hidden to use fake "toggle slide". dont change "display" here because of <Flex>
    .languageSearchBar {
        opacity: 0;
        padding: 2px;
        position: absolute;
        width: 0;
        z-index: -1;

        .searchInput {
            color: white;
        }

        .clearSearchValueButton {
            display: none;
        }
    }

    .toggleLanguageSearchBarButton {
        background-color: transparent;
        padding: 0;

        .buttonContentContainer {
            // about matches the language searchbar height
            // min-height: 45px;
        }
    }
}