.PaginationBar {
    color: currentColor;

    &-arrowButton {
        padding: 0 20px;
    }

    &-numContainer {
        .PageNumber {
            padding: 0;

            &-active {
                color: var(--accentColor);
                font-weight: bold;
            }
        }
    }
}