@use "@styles/global/functions.scss" as *;

.PlainTextNoteInput {
    border-right: none;
    border-top-right-radius: 0;
    height: 100%;

    &.fullScreen {
        box-shadow: 2px 2px 15px 2px var(--codeGrey);
    }


    .inputContainer {
        border-left: var(--noteInputDefaultBorder) var(--plainTextNoteInputColor);
        border-right: var(--noteInputDefaultBorder) var(--plainTextNoteInputColor);
        
        .TextareaDiv {     
            &-div {
                code, pre {
                    background-color: var(--codeGrey);
                    border-radius: var(--codeBorderRadius);
                    color: black;
                    font-size: 1em;
                    line-height: 1em;
                    padding: 0px 7px 0px 6px;
                }
            }
        }
    }
}