@use "@styles/global/functions.scss" as *;


.ResetPassword {
    $paddingX: 10px;

    &-contentContainer {
        width: 360px;
        
        &-formContainer {
            &-newPassword {
                .PasswordAdvice {
                    font-size: .8em;
                    // position on the left of password input
                    left: calc(-1 * var(--passwordAdviceWidth) - calc(var(--passwordAdviceArrowBoxSize) / 2) - 10px);
                    top: -51px;

                    &-nonDesktopWidth {
                        margin: 15px 0;
                    }
                }
            }
            
            .TextInput {
                width: 100%;

                .textInput {
                    border-color: var(--matteBlue);
                    width: 100%;

                    @include customFocus {
                        border-color: var(--accentColor);
                    }
                }

                .floatingLabel {
                    color: var(--matteBlue);
                    left: $paddingX;
                }
            }
            &-submitButton {
                padding: $paddingX 20px;
                @include buttonContained();
            }
        }
    }
    
    @media only screen and (max-width: 575) {
        .Login-contentContainer {
            min-width: 250px;
            width: unset;
        }
    }
}