@use "@styles/global/functions.scss" as *;


.ResendConfirmationMail {

    &-emailInput {
        width: 100%;

        .textInput {
            width: 100%;

            @include customFocus {
                border-color: var(--accentColor);
            }
        }
    }

    &-submitButton {
        @include buttonContained();
    }
}