@use './global/functions.scss' as *;

.SelectOption {
    min-height: 2em;
    padding: 5px;
    transition: var(--transitionTime);

    .selectOptionLabel {
        overflow: hidden;
    }

    @include dontSelectText();

    &:focus {
        background-color: rgb(201, 201, 201);
        cursor: pointer;
        outline: none;
    }

    @include customHover {
        background-color: rgb(201, 201, 201);
        cursor: pointer;
    }
}
