@use "@styles/global/functions.scss" as *;
@use "@styles/global/variables.scss" as *;


.StartPageContent {
    margin-bottom: 40px; // margin to footer
    overflow: hidden;
    padding: 5px;

    .AddNewNoteButton {
        background-color: var(--matteBlackLighter);
        color: var(--accentColor);
        // color: rgb(190, 2, 190);
        height: fit-content;
        text-wrap: nowrap;
    }

    #SearchBarStartPage {
        border: 2px solid var(--matteBlackLighter);
        background-color: transparent;
        border-radius: var(--borderRadius);
    }

    &-PaginationBar {
        @media only screen and (min-width: $tabletMinWidth) {
            font-size: 1.3em;
        }
    }
}