@use "@styles/global/functions.scss" as *;


.TagCheckbox {
    border-color: white;
    height: fit-content !important;
    line-break: anywhere;
    margin: 10px 0;
    min-height: 50px;
    width: fit-content !important;

    // case: input not checked and not disabled
    &:has(.Checkbox-input:not(:disabled):not(:checked)):hover {
        @include hover();
    }
        
    // case: focused
    &:has(.Checkbox-input:focus) {
        @include outlineFocus(white);
    }

    .Checkbox-content {
        margin: 0 10px;
    }   
}