.TextareaDiv {
    width: 100%;

    &-textarea {
        // height: 1.9em;
        height: fit-content;
        // height: 100%;
        resize: none;
        // TODO: hide the scrollbar?
    }

    &:hover {
        cursor: text;
    }
}