@import "./global/functions.scss";

.AddNewBlock {
    .Button {
        background-color: var(--vsCodeBlackLight);
        border-radius: var(--codeBorderRadius);
        
        &.addPlainTextBlockButton {
            color: var(--plainTextBlockColor);
        }

        &.addCodeBlockButton {
            color: var(--codeBlockColor);
        }
        
        &.addCodeBlockWithVariablesButton {
            color: var(--codeBlockWithVariablesColor);
        }
    }
    
    .fa-plus {
        border-radius: 100%;
        padding: 5px;
    }

    .curlyBraces {
        font-weight: bold;
        line-height: 1;
        margin-left: 1px;
    }
}