@import "./global/functions.scss";

.AddNewNoteInput {
    .Button {
        background-color: var(--vsCodeBlackLight);
        border-radius: var(--codeBorderRadius);
        
        &.addPlainTextNoteInputButton {
            color: var(--plainTextNoteInputColor);
        }

        &.addCodeNoteInputButton {
            color: var(--codeNoteInputColor);
        }
        
        &.addCodeNoteInputWithVariablesButton {
            color: var(--codeNoteInputWithVariablesColor);
        }
    }
    
    .fa-plus {
        border-radius: 100%;
        padding: 5px;
    }

    .curlyBraces {
        font-weight: bold;
        line-height: 1;
        margin-left: 1px;
    }
}