@import "./global/fonts.scss";
@import "./global/functions.scss";
@import "./global/helpers.scss";
@import "./global/variables.scss";


/* disable reacts error overlay */
#webpack-dev-server-client-overlay {
    display: none;
}

/* move use query dev tools */
.tsqd-open-btn-container {
    right: 150px !important;
}

.App {
    font-family: roundFont;
    margin: 0;
    /* To keep scrollbar */
    min-height: 101vh;
    position: relative;

    * {
        @include selectText {
            background-color: var(--accentColor);
        }
    }

    .content {
        padding-bottom: calc(var(--footerHeight));
    }
}