:root {
    --blockSwitchWidth: 136px;
}

.BlockSettings {
    .BlockSwitch {
        // pseudo hidden to use fake "toggle slide". dont change "display" here because of <Flex>
        opacity: 0;
        width: 0;
        z-index: -1;

        .RadioButton {
            position: absolute;
        }
    }

    // pseudo hidden to use fake "toggle slide". dont change "display" here because of <Flex>
    .languageSearchBar {
        opacity: 0;
        padding: 2px;
        position: absolute;
        width: 0;
        z-index: -1;

        .clearSearchValueButton {
            display: none;
        }
    }

    .toggleBlockSettingsButton {
        background-color: transparent;
        padding: 0.5rem 1rem;
    }
}