@import "./global/functions.scss";

.BlockContainerTagList {
    border: none;
    border-radius: var(--tagBorderRadius);
    padding-right: 5px;
    
    .tagInputContainer {
        // depends on "scrollBar()" mixin
        overflow: auto;
        @include scrollBar(7px);

        &:hover {
            &::-webkit-scrollbar {
                height: 7px;
                width: 7px;
            }
        }
    }
}