@import "./global/functions.scss";

.BlockContainerTitle {
    .titleInput {
        border: none;
        border-bottom: 2px solid var(--codeGrey);
        font-size: 1.6em;
        width: 100%;

        @include placeholder {
            @include dontSelectText();
        }

        &:focus {
            border-color: var(--accentColor);
            outline: none;
        }
    }
}