@import "./global/functions.scss";

.BlockContainer {
    border: 2px solid var(--codeGrey);
    border-radius: var(--borderRadius);
    padding: 5px;

    .blockContainerTitle {
        border: none;
        border-bottom: 2px solid var(--codeGrey);
        border-radius: 0;
        font-size: 2em;
        min-width: 50%;
    
        @include placeholder {
            color: var(--codeGrey);
        }
    }
}