.ButtonWithSlideLabel {
    font-size: 1em;

    .addNoteInputButtonLabelContainer {
        line-height: 1;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-wrap: nowrap;
        z-index: -1;
        
        .addNoteInputButtonLabel {
            margin-left: 3px;
        }
    }
}