.ButtonWithSlideLabel {
    font-size: 1em;

    .addBlockButtonLabelContainer {
        line-height: 1;
        opacity: 0;
        position: absolute;
        right: 0;
        text-wrap: nowrap;
        z-index: -1;
        
        .addBlockButtonLabel {
            margin-left: 3px;
        }
    }
}