@import "./global/functions.scss";

.Checkbox {
    border: 2px solid var(--codeGrey);
    border-radius: var(--borderRadius);
    height: 30px;
    padding: 5px;
    width: 30px;

    @include hoverCursor();
}