@import "./global/functions.scss";

.CodeBlockWithVariables {
    .codeInput {
        font-family: codeFont;
        font-weight: bold;
        margin: 0;
        max-height: 20vh;
        max-width: 100%;
        overflow: auto;
        padding: 10px 10px;

        @include scrollBar();

        &:focus {
            outline: none;
        }

        &:has(.variableInput) {
            padding: 5px 10px;
        }

        .variableInput {
            border: 2px solid transparent;
            border-radius: var(--borderRadius);
            margin: 0 2px;
            padding: 3px 7px;
            // barely includes default placeholder
            width: 150px;

            &:focus {
                border-color: var(--accentColor);
                outline: none;
            }
        }
    }

    .addVariableButton {
        background-color: rgb(177, 177, 177);
        border-radius: 0;
        color: black;
        text-wrap: nowrap;
        padding: 0.3rem 0.5rem !important;

        .fa-plus {
            background-color: white;
            border-radius: 100%;
            padding: 3px;
        }

        .fa-dollar-sign {
            color: rgb(153, 255, 0);
            color: black;
        }

        .curlyBraces {
            color: rgb(42, 110, 255);
            color: black;
            margin-left: 2px;
            font-weight: bold;
        }
    }
    
    .copyButton {
        border-radius: 0;
        min-height: 2em;
        padding: 0.5rem 1rem !important;

        .fa-copy {
            position: absolute;
        }
    }
}