@import "./global/functions.scss";

:root {
    // set on redner
    --fullEditorWidth: 500px;
}

.CodeNoteInput {
    background-color: var(--matteBlack);
    
    &.fullScreen {
        border-radius: var(--borderRadius); // for full screen mode
        padding: 15px;

        section {
            max-width: 73vw;
        }
    }
    
    .editorContainer {
        // = <Editor /> tag
        section {
            background-color: var(--matteBlack);
            color: white;

            .vsCodeEditor {
                margin: 3px 0;
                
                .overflow-guard {
                    background-color: var(--matteBlack);
                    padding: 0 var(--noteInputPaddingX);
                    transition: background-color var(--transitionTime), width var(--transitionTime);

                    // line number container
                    .margin {
                        display: none;
                    }

                    .monaco-scrollable-element {
                        left: var(--noteInputPaddingX) !important;

                        .decorationsOverviewRuler {
                            display: none !important;

                        }

                        .iPadShowKeyboard {
                            display: none;
                        }
                        
                        .monaco-scrollable-element.editor-scrollable {
                            left: 0 !important;
                        }
                        
                        .lines-content {
                            background-color: var(--matteBlack);

                            // line container
                            .view-lines {
                                padding: 0 var(--noteInputPaddingX);
                                transition: background-color var(--transitionTime);
                                width: var(--fullEditorWidth) !important;

                                // line
                                .view-line {
                                }
                            }
                        }
                    }
                        
                    .minimap {
                        display: none;
                    }
                }
            }
        }
    }
}