@import "./global/functions.scss";

:root {
    --codeBlockWithVariablesMinHeight: 20vh;
    --variableInputFontFamily: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --variableInputFontSize: 14px;
    --variableInputPaddingLeftRight: 7px;
    --variableInputBorderWidth: 2px;
}

.CodeBlockWithVariables {
    background-color: var(--codeGrey);
    border-radius: var(--codeBorderRadius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .inputDivContainer {
        margin: 0;
        
        code {
            height: 100%;
            display: block;
        }
        
        .inputDiv {
            margin: 0;
            max-height: var(--codeBlockWithVariablesMinHeight);
            min-height: 41px;
            overflow: auto;
            padding: 10px 10px;
            white-space: pre-wrap;

            @include scrollBar();

            &:focus {
                outline: none;
            }

            &:has(.variableInput) {
                padding: 7px 10px;
            }

            .variableInput {
                border: var(--variableInputBorderWidth) solid transparent;
                border-radius: var(--borderRadius);
                font-family: var(--variableInputFontFamily);
                font-size: var(--variableInputFontSize);
                line-height: 1em;
                margin: 0 2px;
                padding: 3px var(--variableInputPaddingLeftRight);

                &:focus {
                    border-color: var(--accentColor);
                    outline: none;
                }
                
                &:not(:focus) {
                    @include customHover {
                        @include hover();
                        cursor: text !important;
                    }
                }
            }
        }
    }

    .addVariableButton {
        background-color: rgb(192, 192, 192);
        background-color: white;
        border-radius: 0;
        color: black;
        text-wrap: nowrap;
        padding: 0.3rem 0.5rem !important;

        .fa-plus {
            background-color: white;
            border-radius: 100%;
            padding: 3px;
        }

        .fa-dollar-sign {
            color: rgb(153, 255, 0);
            color: black;
        }

        .curlyBraces {
            color: rgb(42, 110, 255);
            color: black;
            margin-left: 2px;
            font-weight: bold;
        }
    }
}