.CodeBlock {
    .editorContainer {
        background-color: var(--vsCodeBlack);
        border-radius: var(--codeBorderRadius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .fullScreenButton {
            color: white;
        }
        
        // = <Editor /> tag
        section {
            .vsCodeEditor {
                background-color: var(--vsCodeBlack);
                margin: 3px;
                
                .minimap {
                    display: none;
                }
                
                // line number container
                .margin {
                }
                
                .lines-content {
                    // line container
                    .view-lines {
                        
                        .view-line {
                            
                        }
                    }
                }
            }
        }
    }
}