.CodeNoteInput {
    background-color: var(--vsCodeBlack);
    
    &.fullScreen {
        border-radius: var(--borderRadius); // for full screen mode
        padding: 15px;
    }
    
    .editorContainer {
        // = <Editor /> tag
        section {
            background-color: var(--vsCodeBlack);
            color: white;

            .vsCodeEditor {
                margin: 3px;
                
                .overflow-guard {
                    background-color: var(--vsCodeBlack);

                    // line number container
                    .margin {
                        display: none;
                        background-color: var(--vsCodeBlack);
                        left: -20px;
                        
                        .margin-view-overlays, .current-line.current-line-margin-both {
                            left: -10px;
                        }
                    }

                    .decorationsOverviewRuler {
                        display: none !important;

                    }

                    .iPadShowKeyboard {
                        display: none;
                    }
                    
                    .monaco-scrollable-element.editor-scrollable {
                        left: 0 !important;
                    }
                    
                    .lines-content {
                        background-color: var(--vsCodeBlack);

                        // line container
                        .view-lines {

                            // line
                            .view-line {
                                
                            }
                        }
                    }
                    
                    .minimap {
                        display: none;
                    }
                }
            }
        }
    }
}