@import "./global/functions.scss";

:root {
    --codeBlockWithVariablesMinHeight: 20vh;
}

.CodeBlockWithVariables {
    .inputDivContainer {
        margin: 0;

        code {
            height: 100%;
            display: block;
        }

        .inputDiv {
            margin: 0;
            max-height: var(--codeBlockWithVariablesMinHeight);
            overflow: auto;
            padding: 10px 10px;
            white-space: pre-wrap;

            @include scrollBar();

            &:focus {
                outline: none;
            }

            &:has(.variableInput) {
                padding: 5px 10px;
            }

            .variableInput {
                border: 2px solid transparent;
                border-radius: var(--borderRadius);
                margin: 0 2px;
                padding: 3px 7px;
                // barely includes default placeholder
                width: 123px;

                &:focus {
                    border-color: var(--accentColor);
                    outline: none;
                }
            }
        }
    }

    .addVariableButton {
        background-color: rgb(177, 177, 177);
        border-radius: 0;
        color: black;
        text-wrap: nowrap;
        padding: 0.3rem 0.5rem !important;

        .fa-plus {
            background-color: white;
            border-radius: 100%;
            padding: 3px;
        }

        .fa-dollar-sign {
            color: rgb(153, 255, 0);
            color: black;
        }

        .curlyBraces {
            color: rgb(42, 110, 255);
            color: black;
            margin-left: 2px;
            font-weight: bold;
        }
    }
}