.CodeBlock {
    border-radius: var(--codeBorderRadius);
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);

    .fullScreenButton {
        color: white;
    }

    .copyButton {
    }

    // = <Editor /> tag
    section {
        .vsCodeEditor {
            background-color: var(--vsCodeBlack);
            margin: 3px;

            .minimap {
                display: none;
            }

            // line number container
            .margin {
            }

            .lines-content {
                // line container
                .view-lines {
                    
                    .view-line {
                        
                    }
                }
            }
        }
    }
}