@import "./global/functions.scss";

:root {
    --codeNoteInputWithVariablesMinHeight: 20vh;
    --variableInputFontFamily: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --variableInputFontSize: 1em;
    --variableInputPaddingLeftRight: 0px;
    --variableInputBorderWidth: 2px;
}

.CodeNoteInputWithVariables {
    background-color: var(--matteBlack);
    border-radius: var(--borderRadius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    
    &.fullScreen {
        border-radius: var(--borderRadius); // for full screen mode
        padding: 15px;
        
        .inputDiv {
            max-height: unset;
        }
    }

    .inputDivContainer {
        margin: 0;
        
        code {
            height: 100%;
            display: block;
        }
        
        .inputDiv {
            border-left: 2px solid transparent;
            line-height: 1.6em;
            height: 100%;
            margin: 0;
            max-height: var(--codeNoteInputWithVariablesMinHeight);
            min-height: 41px;
            overflow: auto;
            padding: 10px var(--noteInputPaddingX);
            white-space: pre-wrap;

            @include scrollBar();

            &:focus {
                outline: none;
            }

            .variableInput {
                background-color: var(--codeGreyLight);
                border: var(--variableInputBorderWidth) solid transparent;
                border-radius: var(--borderRadius);
                font-family: var(--variableInputFontFamily);
                font-size: var(--variableInputFontSize);
                line-height: 1em;
                margin: 0 2px;
                min-width: 50px;
                padding: 0px var(--variableInputPaddingLeftRight);

                &:focus {
                    border-color: var(--accentColor);
                    outline: none;
                }
                
                &:not(:focus) {
                    @include customHover {
                        @include hover();
                        cursor: pointer !important;
                    }
                }
            }
        }
    }
}