.CodeBlock {
    // = <Editor /> tag
    section {
        .vsCodeEditor {
            margin: 3px;

            .minimap {
                display: none;
            }

            // line number container
            .margin {
                background-color: var(--codeGrey);
            }

            .lines-content {
                background-color: var(--codeGrey);

                // line container
                .view-lines {
                    
                    .view-line {
                        
                    }
                }
            }
        }
    }
}