@import "./global/functions.scss";

.Confirm {   
    &-footer {
        &-confirmButton {
            background-color: var(--matBlue);
            color: white;
            
            @include buttonFocus(black);
        } 

        &-cancelButton {
            background-color: transparent;
        }
    }
}