@import "./global/functions.scss";

.DefaultBlock {
    margin: 5px 0;
    position: relative;
    
    .blockContent {
        border-radius: var(--borderRadius);

        .deleteBlockButton {
            background-color: var(--codeGrey);
            border-radius: var(--borderRadius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover {
                background-color: rgb(184, 184, 184);
            }
        }

        .defaultBlockButton {
            padding: 0.5rem 0.5rem;
            transition: var(--transitionTimeFast);
        }
    }
}