@import "./global/functions.scss";

.DefaultBlock {
    margin: 5px 0;
    
    .blockContent {
        border: 1px solid var(--codeGrey);
        border-radius: var(--borderRadius);
        position: relative;

        .deleteBlockButton {
            border-radius: var(--borderRadius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: var(--matBlue);
            color: red;
        }

        .defaultBlockButton {
            opacity: 0.7;
            padding: 0.5rem 0.5rem;
            transition: var(--transitionTimeFast);
    
            @include hoverCursor();
            
            &:not([disabled]):hover {
                opacity: 1;
            }
        }
    }
}