@import "./global/functions.scss";

.DefaultBlock {
    margin: 5px 0;
    position: relative;
    
    .blockContent {
        border: 1px solid var(--codeGrey);
        border-radius: var(--borderRadius);
        position: relative;

        .deleteBlockButton {
            border-radius: var(--borderRadius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: rgb(150, 150, 150);
        }

        .defaultBlockButton {
            padding: 0.5rem 0.5rem;
            transition: var(--transitionTimeFast);
        }
    }

    .blockSettings {
        .BlockSwitch {
            // pseudo hidden to use fake "toggle slide". dont change "display" here because of <Flex>
            opacity: 0;
            width: 0;
            z-index: -1;

            .RadioButton {
                position: absolute;
            }
        }

        .toggleBlockSwitchButton {
            background-color: transparent;
            padding: 0.5rem 1rem;
        }
    }
}