@import "./global/functions.scss";

:root {
    --noteInputPaddingX: 4px;
}

.DefaultNoteInput {
    $noteInputDefaultBorderWidth: 2px;
    $noteInputDefaultBorder: $noteInputDefaultBorderWidth solid;
    $noteInputHoverBorderWidthIncrease: 3px;

    border-left: $noteInputDefaultBorder transparent;
    margin: 5px 0;
    padding-left: 5px;
    position: relative;
    transition: border var(--transitionTime);

    // PlainTextNoteInput
    &:has(.PlainTextNoteInput) {
        .ContentEditableDiv {
            border-left: $noteInputDefaultBorder var(--plainTextNoteInputColor);
            border-right: $noteInputDefaultBorder var(--plainTextNoteInputColor);
        }
    }
    &:has(.PlainTextNoteInput:not(.fullScreen)) {
        .ContentEditableDiv {
            transition: var(--transitionTime);

            @include customHover {
                border-width: calc($noteInputDefaultBorderWidth + $noteInputHoverBorderWidthIncrease) !important;
                padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;
            }

            @include customFocus {
                border-width: calc($noteInputDefaultBorderWidth + $noteInputHoverBorderWidthIncrease) !important;
                padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;
            }
        }
    }
    
    // CodeNoteInputWithVariables
    &:has(.CodeNoteInputWithVariables) {
        .ContentEditableDiv {
            border-left: $noteInputDefaultBorder var(--codeNoteInputWithVariablesColor) !important;
            border-right: $noteInputDefaultBorder var(--codeNoteInputWithVariablesColor);
        }
    }
    &:has(.CodeNoteInputWithVariables:not(.fullScreen)) {
        .ContentEditableDiv {
            transition: var(--transitionTime);

            @include customHover {
                border-width: calc($noteInputDefaultBorderWidth + $noteInputHoverBorderWidthIncrease) !important;
                padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;
            }

            @include customFocus {
                border-width: calc($noteInputDefaultBorderWidth + $noteInputHoverBorderWidthIncrease) !important;
                padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;
            }
        }
    }
    
    // CodeNoteInput
    &:has(.CodeNoteInput) {
        // .view-lines {
        .overflow-guard {
            border-left: $noteInputDefaultBorder var(--codeNoteInputColor);
            border-right: $noteInputDefaultBorder var(--codeNoteInputColor);
        }
    }
    &:has(.CodeNoteInput:not(.fullScreen)) {
        .overflow-guard {
            transition: var(--transitionTime);

            @include customHover {
                border-width: calc($noteInputDefaultBorderWidth + $noteInputHoverBorderWidthIncrease) !important;
                padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;

                .view-lines {
                    padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;
                }
            }
        }

        &:has(textarea:not([disabled]):focus) {
            .overflow-guard {
                border-width: calc($noteInputDefaultBorderWidth + $noteInputHoverBorderWidthIncrease) !important;
                padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;
            }
            
            .view-lines {
                padding-left: calc(var(--noteInputPaddingX) - $noteInputHoverBorderWidthIncrease) !important;
            }
        }
    }

    &-content {
        border-radius: var(--borderRadius);

        .defaultNoteInputButton {
            background-color: var(--matteBlack);
            color: var(--codeGrey);
            margin: .3em .7rem 0;
            padding: 0 .2em;
            transition: var(--transitionTime);

            @include customHover {
                color: white;
            }
        }

        .deleteNoteInputButton {
            height: unset;
        }

        .copyButton {
            .buttonContentContainer {
                min-width: 15px;
                
                .fa-copy {
                    position: absolute;
                }
            }
        }
    }

    pre {
        position: relative;
    }

    .noteInputOverlay {
        .overlayBackground {
            border-radius: var(--borderRadius);
        }

        .overlayChildrenContainer {
            @include flexCenter();

            .fa-circle-notch {
                color: white;
                font-size: 1.1em;
            }
        }
    }
}