@import "./global/functions.scss";

.DefaultNoteInput {
    border-left: 2px solid transparent;
    margin: 5px 0;
    padding-left: 2px;
    position: relative;
    transition: border var(--transitionTime);

    // case: hover or focus on code noteInput with vars
    &:has(.PlainTextNoteInput:hover), &:has(.ContentEditableDiv:focus) {
        border-color: var(--plainTextNoteInputColor);
    }

    // case: hover or focus on code noteInput
    &:has(.CodeNoteInput:hover), &:has(.vsCodeEditor textarea:focus) {
        border-color: var(--codeNoteInputColor);
    }

    // case: hover or focus on plain text
    &:has(.CodeNoteInputWithVariables:hover), &:has(.ContentEditableDiv:focus) {
        border-color: var(--codeNoteInputWithVariablesColor);
    }

    .noteInputContent {
        border-radius: var(--borderRadius);

        .defaultNoteInputButton {
            background-color: var(--vsCodeBlack);
            color: var(--codeGrey);
            padding: 0 0.7rem;
            transition: var(--transitionTime);

            @include customHover {
                color: white;
            }
        }

        .deleteNoteInputButton {
            height: unset;
        }

        .copyButton {
            .fa-copy {
                position: absolute;
            }
        }

        .fullScreenButton {
            padding: 0 0.2rem;
        }
    }

    .noteInputOverlay {
        .overlayBackground {
            border-radius: var(--borderRadius);
        }

        .overlayChildrenContainer {
            @include flexCenter();

            .fa-circle-notch {
                color: white;
                font-size: 1.1em;
            }
        }
    }
}