@import "./global/functions.scss";

.DefaultCodeBlock {
    background-color: var(--codeGrey);
    border-radius: var(--codeBorderRadius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    .copyButton {
        border-radius: 0;
        min-height: 2em;
        padding: 0.5rem 1rem !important;

        .fa-copy {
            position: absolute;
        }
    }

        
    // TODO: move this to defaultcodeblock file?
    .fullScreenButton {
        $margin: 0.4em;
        $hoverMargin: $margin - 0.2em;

        background-color: transparent;
        padding: 5px;
        margin: $margin $margin 0 0;
        transition: 0.2s;

        @include customHover {
            font-size: 1.2em;
            margin: $hoverMargin $hoverMargin 0 0;
        }
    }
}