@import "./global/functions.scss";

:root {
    --languageSearchBarWidth: 150px
}

.LanguageSearchResults {
    background-color: white;
    border: 3px solid var(--bs-gray-300);
    border-radius: var(--borderRadius);
    margin-left: 3px;
    max-height: 170px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    top: 36px;
    right: -3px;
    width: var(--languageSearchBarWidth);
    z-index: 1;

    @include scrollBar();

    .searchResultInput {
        border: none;
        border-radius: var(--borderRadius);
        caret-color: var(--codeGrey);
        padding: 3px 7px;
        transition: var(--transitionTime);
        width: 100%;

        @include customHover {
            background-color: var(--codeGrey);
            @include hoverCursor();
        }

        &:disabled {
            background-color: white;
            color: black;
        }

        &:focus {
            background-color: var(--codeGrey);
            outline: none;
        }
    }
}