@import "./global/functions.scss";


.Login {
    $paddingX: 10px;

    &-contentContainer {
        padding: 0 20px;
        width: 400px;

        &-heading {
            color: var(--matteBlue);
        }

        &-formContainer {
            &-submitButton {
                padding: $paddingX 20px;
                @include buttonContained();
            }
            
            .TextInput {
                width: 100%;

                .textInput {
                    border-color: var(--matteBlue);
                    width: 100%;

                    @include customFocus {
                        border-color: var(--accentColor);
                    }
                }

                .floatingLabel {
                    color: var(--matteBlue);
                    left: $paddingX;
                }
            }

            &-createAccount {
                font-size: .9em;
                
            }
            
            &-linkContainer {
                font-size: .9em;

                &-linkButton {
                    padding: 2px;
                    text-decoration: underline;
                }
            }
            
            &-createAccountButton {
                padding: 0;
                width: 100%;
                
                @include buttonFocus(var(--accentColor));
                @include buttonOutline(var(--matteBlueLight));
                
                &-link {
                    color: currentColor;
                    padding: $paddingX 20px;
                    width: 100%;
                }
            }
        }
        
        &-oauth2Container {
            .Oauth2LoginButton {
                @include hover();
            }
        }
    }

    @media only screen and (max-width: 575) {
        .Login-contentContainer {
            min-width: 250px;
            width: unset;
        }
    }
}