@import "./global/functions.scss";


.Login {
    $paddingX: 10px;

    height: 80vh;
    margin-top: 2em;

    &-contentContainer {
        padding: 0 20px;
        width: 400px;

        &-heading {
            color: var(--matteBlue);
        }

        &-formContainer {
            &-submitButton {
                background-color: var(--accentColor2);
                background-color: var(--matteBlueLight);
                color: white;
                padding: $paddingX 20px;
                
                @include hover();
                @include buttonFocus(var(--accentColor));
            }
            
            .TextInput {
                width: 100%;

                .textInput {
                    border-color: var(--matteBlue);
                    width: 100%;

                    @include customFocus {
                        border-color: var(--accentColor);
                    }
                }

                .floatingLabel {
                    color: var(--matteBlue);
                    left: $paddingX;
                    top: -15px;

                    &.moveFloatingLabelDown {
                        top: 18px;
                    }
                }
            }
        }
        
        &-oauth2Container {
            .Oauth2LoginButton {
                @include hover();
            }
        }
    }

    @media only screen and (max-width: 575) {
        .Login-contentContainer {
            min-width: 250px;
            width: unset;
        }
    }
}