.NavBar {
    background-color: var(--matBlack);
    color: white;
    font-family: codeFontLight;
    min-height: 66px;
    padding: 10px 15px;

    .accountIcon {
        border: 1px solid black;
        border-radius: 100%;
        padding: 3px;
    }
}