.NavBarProfileSection {
    font-size: 1.2em;

    #ButtonRegister {
        background-color: var(--matBlack);
        border: 1px solid white;

        &:hover {
            #CustomLinkRegister {
                color: black;
            }
        }
    }
}