@import "../styles/global/functions.scss";


.NavBarProfileSection {
    &-registerLink {
        @include customHover {
            .NavBarProfileSection-registerLink-button {
                color: black !important;
            }
        }

        &-button {
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            color: white;
        }
    }
}