.NavBar {
    background-color: var(--matBlue);
    color: white;
    min-height: 66px;

    .iconLabel {
        font-size: 1.2em;
        color: var(--accentColor);
    }

    code {
        color: white;
    }

    .accountIcon {
        border: 1px solid black;
        border-radius: 100%;
        padding: 3px;
    }
}