@import "./global/functions.scss";


.NoteTagList {
    border: none;
    border-radius: var(--tagBorderRadius);
    padding-right: 5px;
    
    .tagInputContainer {
        overflow: auto;
        @include scrollBar();
    }
}