@import "../styles/global/variables.scss";

.Oauth2LoginButton {
    background-color: var(--bs-gray-200); // default button background
    padding: 0;
    width: 100%;

    &-link {
        padding: 10px 15px;
        position: relative;

        &-icon {
            position: absolute;

            @media only screen and (max-width: #{$mobileMaxWidth}) {
                position: relative;  
            }
        }
    }
}