@import "../styles/global/variables.scss";

.Oauth2LoginButton {
    background-color: var(--bs-gray-200); // default button background
    width: 100%;

    &-link {
        position: relative;

        &-icon {
            position: absolute;

            @media only screen and (max-width: #{$mobileMaxWidth}) {
                position: relative;  
            }
        }
    }
}