@import "../styles/global/functions.scss";
@import "../styles/global/variables.scss";

:root {
    --passwordAdviceArrowBoxSize: 20px;
    // set on render
    --passwordAdviceWidth: 0px;
}


.PasswordAdvice {
    &-desktopWidth {
        background-color: white;
        border: 1px solid black;
        border-radius: var(--borderRadius);
        box-shadow: 7px 2px 15px 3px var(--codeGrey);

        &-contentContainer {
            padding: 8px;
        }
        
        &-arrowBox {
            background-color: white;
            height: var(--passwordAdviceArrowBoxSize);
            position: relative;
            right: calc(var(--passwordAdviceArrowBoxSize) / 2 * -1); // move to the right by half the size
            rotate: 45deg;
            width: var(--passwordAdviceArrowBoxSize);
        }
    }

    &-regexList {
        padding-left: 25px;

        &-item {
            &.validRegex {
                color: rgb(0, 206, 0);
            }
            
            &.invalidRegex {
                color: red;
            }
        }
    }
}