@import "./global/functions.scss";



.PlainTextNoteInput {
    background-color: var(--matteBlack);
    border-right: none;
    border-radius: var(--borderRadius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.fullScreen {
        border-radius: var(--borderRadius); // for full screen mode
        box-shadow: 2px 2px 15px 2px var(--codeGrey);
        padding: 15px;

        .plainTextInput {
            max-height: unset !important;
        }
    }

    &:not(.fullScreen) {
        .plainTextInput {
            transition: background-color var(--transitionTime);
            @include scrollBar();
            @include customHover {
                &:not(:focus) {
                    background-color: var(--matteBlackLight);
                }
            }
            @include customFocus {
                background-color: var(--matteBlackLighter);
            }
        }
    }

    .inputDivContainer {
        height: 100%;
        margin: 0;

        .plainTextInput {
            border-left: var(--noteInputDefaultBorder) var(--plainTextNoteInputColor);
            border-right: var(--noteInputDefaultBorder) var(--plainTextNoteInputColor);
            color: white;
            font-family: roundFont;
            height: 100%;
            max-height: 20vh;
            overflow: auto;
            padding: 8px var(--noteInputPaddingX);
            white-space: pre-wrap;

            &:focus {
                outline: none;
            }
            
            code {
                background-color: var(--codeGrey);
                border-radius: var(--codeBorderRadius);
                color: black;;
                font-size: 1em;
                padding: 1px 7px 1px 6px;
            }
        }
    }
}