@import "./global/functions.scss";

.PlainTextBlock {
    height: 100%;

    .plainTextInput {
        max-height: 20vh;
        overflow: auto;

        @include scrollBar();

        &:focus {
            // letter-spacing: 1px;
            outline: none;
        }
        
        code {
            background-color: var(--codeGrey);
            border-radius: var(--borderRadius);
            color: black;;
            font-size: 1em;
            padding: 3px 7px;
        }
    }
}