@import "./global/functions.scss";

.PlainTextBlock {
    border: 2px solid var(--codeGrey);
    border-right: none;
    border-radius: var(--borderRadius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    padding: 5px 3px;

    .plainTextInput {
        max-height: 20vh;
        overflow: auto;
        white-space: pre-wrap;

        @include scrollBar();

        &:focus {
            // letter-spacing: 1px;
            outline: none;
        }
        
        code {
            background-color: var(--codeGrey);
            border-radius: var(--codeBorderRadius);
            color: black;;
            font-size: 1em;
            padding: 3px 7px;
        }
    }
}