@import "../styles/global/functions.scss";

.Popup {
    $scrollBarWidth: 3px;
    $contentContainerPadding: 10px;

    display: none;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: var(--overlayZIndex);
    
    &-flexContainer {
        
        .popupContentContainer {
            max-height: 98vh;
            border: 1px solid var(--matteBlue);
            background-color: white;
            border-radius: var(--borderRadius);
            margin: 0 1vh;
            min-height: 100px;
            min-width: 100px;
            overflow: auto;
            padding: $contentContainerPadding;
            z-index: calc(var(--overlayZIndex) + 1);
            
            @include scrollBar($scrollBarWidth);
            
            @include customHover {
                padding-right: calc($contentContainerPadding - $scrollBarWidth - 1px);
            }
            
            // Header
            .popupXButton {
                background-color: transparent;
                padding: 0;
            }

            // Body
            .popupContent {
                padding: 10px;
                padding-top: 0;
            }
        }
    }
}