.Popup {
    display: none;
    height: 100vh;
    overflow: auto;
    position: fixed;
    width: 100vw;
    z-index: var(--overlayZIndex);
    
    .popupContentContainer {
        border: 1px solid var(--matBlue);
        background-color: white;
        border-radius: var(--borderRadius);
        min-height: 100px;
        min-width: 100px;
        padding: 10px;
        z-index: calc(var(--overlayZIndex) + 1);

        // Header
        .popupXButton {
            background-color: transparent;
            padding: 0;
        }

        // Body
        .popupContent {
            padding: 10px;
            padding-top: 0;
        }
    }
}