@import "./global/functions.scss";

.RadioButton {
    border: 2px solid var(--codeGrey);
    border-radius: var(--borderRadius);
    padding: 2px;
    width: fit-content;
    @include hoverCursor();

    .radioButtonContent {        
        .defaultIcon {
            $minSize: 25px;
            
            background-color: var(--accentColor);
            border-radius: var(--borderRadius);
            height: 100%;
            min-height: $minSize;
            min-width: $minSize;
            width: 100%;
        }
    }
}