@import "./global/functions.scss";

:root {
    // set on render
    --registerPasswordAdviceWidth: 0px;
}


.Register {
    $paddingX: 10px;

    min-height: 80vh;
    margin: 2em 0;

    &-contentContainer {
        padding: 0 20px;
        width: 400px;

        &-heading {
            color: var(--matteBlue);
        }

        &-formContainer {
            &-password {
                .PasswordAdvice {
                    font-size: .8em;
                    // position on the left of password input
                    left: calc(-1 * var(--registerPasswordAdviceWidth) - calc(var(--passwordAdviceArrowBoxSize) / 2) - 10px);
                    top: -51px;

                    &-nonDesktopWidth {
                        margin: 15px 0;
                    }
                }
            }

            &-submitButton {
                background-color: var(--accentColor2);
                background-color: var(--matteBlueLight);
                color: white;
                padding: $paddingX 20px;
                
                @include hover();
                @include buttonFocus(var(--accentColor));
            }
            
            .TextInput {
                width: 100%;

                .textInput {
                    border-color: var(--matteBlue);
                    width: 100%;

                    @include customFocus {
                        border-color: var(--accentColor);
                    }
                }

                .floatingLabel {
                    color: var(--matteBlue);
                    left: $paddingX;
                }
            }

            &-createAccountLink {
                font-size: .9em;
                text-decoration: underline;
            }
        }
        
        &-oauth2Container {
            .Oauth2LoginButton {
                @include hover();
            }
        }
    }

    @media only screen and (max-width: 575) {
        .Login-contentContainer {
            min-width: 250px;
            width: unset;
        }
    }
}