@import "./global/functions.scss";

.SearchBar {
    border: 2px solid var(--bs-gray-300);
    border-radius: 20px;
    padding: 10px;

    &:has(.searchInput:not([disabled])) {
        @include customHover {
            cursor: text;
        }
    }

    .searchInput {
        background-color: transparent;
        border: none;

        &:focus {
            outline: none;
        }
    }

    /* Search icon */
    .fa-solid.fa-magnifying-glass {
        color: var(--bs-gray-600);
        padding-right: 8px;

        @include customHover {
            cursor: default;
        }
    }

    // X Icon buton
    .clearSearchValueButton {
        background-color: transparent;
        border: none;
        color: var(--bs-gray-600);
        padding: 0;
        
        @include hover();
    }
}