@import './helpers/functions.scss';

.Select {
    $TextInputWidth: 400px;
    $inputWidth: $TextInputWidth - 10px;

    border-bottom: 2px solid rgba(0, 0, 0);
    color: var(--matteBlack);
    position: relative;
    width: fit-content;

    &:has(.textInput.invalidInput) {
        .TextInput {
            border-color: red;
        }

        .ArrowIcon {
            color: red;
        }
    }

    // serves as select label
    .TextInput {
        height: 55px;
        width: $TextInputWidth;

        .textInput {
            border: none;
            margin-top: 15px;
            width: $inputWidth;

            @include customHover {
                cursor: pointer;
            }
        }

        .textInputErrorMessage {
            margin-top: 4px;
        }
    }

    .ArrowIcon {
        color: var(--matteBlack);
        position: relative;
        transition: var(--transitionTime);
    }

    .selectOptionsContainer {
        background-color: rgb(230, 230, 230);
        margin-top: 2px;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    @media only screen and (max-width: 990px) {
        width: 100%;

        .TextInput,
        .textInput,
        .selectOptionsContainer {
            width: 100% !important;
        }
    }
}
