@import "./global/functions.scss";

.StartPageContent {
    padding: 0 5px;

    .addBlockContainerButton {
        background-color: var(--vsCodeBlackLight);
        color: rgb(52, 116, 255);
        height: fit-content;
        text-wrap: nowrap;
    }

    #SearchBarStartPage {
        border: 2px solid var(--vsCodeBlackLight);
        background-color: transparent;
        border-radius: var(--borderRadius);
    }
}