.StartPageContent {
    padding: 0 5px;

    .addBlockContainerButton {
        background-color: rgb(52, 116, 255);
        color: white;
        height: fit-content;
        text-wrap: nowrap;

        &:focus {
            outline-color: black;
        }
    }
}