:root {
    --startPageSideBarWidthWidthMobile: 30vw;
    --iconColor: rgb(179, 179, 179);
    --placeHolderColor: rgba(255, 255, 255, 0.582);
    --tagFilterContainerPadding: 1rem;
    --startPageSideBarWidth: 200px;
}

.StartPageSideBar {
    .toolBar {
        background-color: var(--matBlueLight);
        color: white;
        padding: 0.5rem;
        
        .toolBarToggleButton {
            background-color: transparent;
            color: white;
            margin-top: 10px;
            padding: 0.5rem;

            &:focus {
                outline-color: white;
            }

            .fa-solid.fa-bars {
            }
        }
    }
    
    .tagFilterContainer {
        background-color: var(--matBlue);
        border-radius: var(--borderRadius);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: white;
        padding: var(--tagFilterContainerPadding);
        width: 0;

        .SearchBar {
            padding: 5px;

            #searchInput {
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: var(--placeHolderColor);
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: var(--placeHolderColor);
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: var(--placeHolderColor);
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: var(--placeHolderColor);
                }
            }
        }
    }
}