@import "./global/functions.scss";

:root {
    --iconColor: rgb(179, 179, 179);
    --placeHolderColor: rgba(255, 255, 255, 0.582);
    --startPageSideBarWidth: 200px;
    --startPageSideBarWidthWidthMobile: 30vw; // hardcoded in CodeNoteInput
    --tagFilterContainerPadding: 1rem;
}

.StartPageSideBar {
    background-color: var(--matteBlueLight);
    height: 100vh; 
    position: sticky;
    top: 0;
    
    .toolBar {
        background-color: var(--matteBlue);
        color: white;
        padding: 0.5rem;
        
        .toolBarToggleButton {
            background-color: transparent;
            color: white;
            
            margin-top: 10px;
            padding: 0.5rem;

            &:focus {
                outline-color: white;
            }
        }
    }
    
    .tagFilterContainer {
        border-radius: var(--borderRadius);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: white;
        padding: var(--tagFilterContainerPadding);
        width: 0;

        .SearchBar {
            padding: 5px;

            .searchInput {
                @include placeholder {
                    color: var(--placeHolderColor);
                }
            }

            .clearSearchValueButton {
                // for outline to be white on focus
                color: white;
            }
        }

        .resetButton {
            border: 3px solid var(--bs-gray-300);
            background-color: transparent;
            color: white;
            padding: 3px 5px;
        }

        .startPageSideBarListContainer {
            overflow: auto;
            @include scrollBar();
        }
    }
}