@import "./global/functions.scss";

:root {
    --placeHolderColor: rgba(255, 255, 255, 0.582);
}

.StartPageSideBar {
    background-color: var(--matteBlueLight);
    height: 100vh; 
    position: sticky;
    top: 0;

    
    .SideBar {
        &-right {
            border-radius: var(--borderRadius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            color: white;
            width: 0;

            .SearchBar {
                padding: 5px;
                
                .searchInput {
                    @include placeholder {
                        color: var(--placeHolderColor);
                    }
                }

                .clearSearchValueButton {
                    color: white;
                }
            }

            .resetButton {
                border: 3px solid var(--bs-gray-300);
                background-color: transparent;
                color: white;
                padding: 3px 5px;
            }

            .startPageSideBarListContainer {
                overflow: auto;
                @include scrollBar();
            }
        }

        &-left {
            background-color: var(--matteBlue);

            &-toggleButton {
                color: white;
                margin-top: 7px;
            }
        }
    }
}