@import './helpers/functions.scss';

.TextInput {
    $smallerFontSize: 0.8em;

    height: 75px; // change this when changing font size
    position: relative;
    width: fit-content;

    // case: input invalid
    &:has(.textInput.invalidInput) {
        .textInput {
            border-color: red;
        }

        .textInputErrorMessage {
            visibility: visible;
        }

        .floatingLabel {
            color: red;
        }
    }

    // case: input disabled
    &:has(.textInput:disabled) {
        opacity: 0.5;
    }

    .floatingLabel {
        font-size: $smallerFontSize;
        position: absolute;
        top: 0;
        @include smallText();

        &.moveFloatingLabelDown {
            font-size: 1em;
            top: 35px;
        }

        .requiredAsterisk {
            color: red;
        }
    }

    .textInput {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0);
        caret-color: currentColor;
        opacity: 0.7;
        padding: 10px 0;
        transition: 0.1s;
        width: 400px;

        &:focus {
            outline: none;
            opacity: 1;
        }
    }

    .textInputErrorMessage {
        color: red;
        visibility: hidden;
        font-size: $smallerFontSize;
        margin-top: 2px;
    }

    @media only screen and (max-width: 990px) {
        width: 100%;

        .textInput {
            width: 100%;
        }
    }
}
