@import './global/functions.scss';

.TextInput {
    $smallerFontSize: 0.8em;

    // space for the floating label to move up
    margin-top: 1.2em;
    position: relative;
    width: fit-content;

    // case: input invalid
    &:has(.textInput.invalidInput) {
        .textInput {
            border-color: red !important;
        }

        .textInputErrorMessage {
            visibility: visible;
        }

        .floatingLabel {
            color: red;
        }
    }

    // case: input disabled
    &:has(.textInput:disabled) {
        opacity: 0.5;
    }

    .floatingLabel {
        font-size: $smallerFontSize;
        left: 10px;
        position: absolute;
        top: -1.5em;

        @include dontSelectText();
        
        &.moveFloatingLabelDown {
            font-size: 1em;
            top: 0.8em;

            @include customHover {
                cursor: text;
            }
        }

        .requiredAsterisk {
            color: red;
        }
    }

    .textInput {
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0);
        border-radius: var(--borderRadius);
        caret-color: currentColor;
        padding: 10px;
        transition: 0.1s;
        width: 400px;

        &:focus {
            outline: none;
        }
    }

    .textInputErrorMessage {
        color: red;
        font-size: $smallerFontSize;
        margin-top: 2px;
        visibility: hidden;
    }

    @media only screen and (max-width: 990px) {
        width: 100%;

        .textInput {
            width: 100%;
        }
    }
}
